services:
  postgres:
    image: postgres:15
    container_name: finance-postgres
    restart: always
    environment:
      POSTGRES_USER: finance
      POSTGRES_PASSWORD: Na@rsaniceto14*
      POSTGRES_DB: finance_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: